:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 1rem;
  gap: 1rem;
  button {
    margin-left: auto;
  }
}

table {

  tr {
    th,
    td {
      &:nth-child(1) {
        width: 5rem;
        text-align: center;
      }
      &:nth-child(2) {
        padding-inline: 1rem;
      }
      &:nth-child(3) {
        width: 9rem;
        text-align: center;
      }
    }
    th {
      &:nth-child(2) {
        text-align: left !important;
      }
    }
  }
}
