    <button mat-stroked-button color="primary" (click)="handleAddQuestion()">
      Add Question
    </button>

<table border="2">
  <thead>
    <tr>
      <th>Sr. No</th>
      <th>Question</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngFor="let question of questionList; let i = index; trackBy: trackById"
    >
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ question.question }}</td>
        <td>
          <div class="action-btn">
            <button mat-icon-button color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>edit_square</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
        <!-- <td colspan="3"> <pre>{{question|json}}</pre></td> -->
      </tr>
    </ng-container>
  </tbody>
</table>
