<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content [formGroup]="surveyForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input aria-label="survey name" matInput formControlName="name"/>
    <mat-error *ngIf="surveyForm.controls['name'].invalid">Required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input aria-label="Survey Description" matInput  formControlName="description"/>
     <mat-error *ngIf="surveyForm.controls['description'].invalid">Required</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button type="button" mat-stroked-button matDialogClose>Cancel</button>
  <button type="button" mat-stroked-button color="primary" (click)="handleCreateSurvey()" [disabled]="surveyForm.invalid">Submit</button>
</div>


