<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content [formGroup]="questionForm">
  <mat-form-field appearance="outline">
    <mat-label>Question</mat-label>
    <textarea
      [autoResize]="100"
      matInput
      [readonly]="obj.readOnly"
      formControlName="question"
    ></textarea>
    <mat-error *ngIf="questionForm.controls['question'].invalid"
      >Required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Answer Type</mat-label>
    <mat-select formControlName="answerType">
      <mat-option [disabled]="obj.readOnly" value="free-text"
        >Free Text
      </mat-option>
      <mat-option [disabled]="obj.readOnly" value="single-choice"
        >Single Choice</mat-option
      >
      <mat-option [disabled]="obj.readOnly" value="multiple-choice"
        >Multiple Choice</mat-option
      >
    </mat-select>
    <mat-error *ngIf="questionForm.controls['answerType'].invalid"
      >Required</mat-error
    >
  </mat-form-field>

  <div
    class="options-container"
    [class.paddingRight]="obj.readOnly"
    *ngIf="isOptionsAvailable"
  >
    <ng-container
      formArrayName="options"
      *ngFor="
        let options of getOptionsArray();
        let i = index;
        let isLast = last;
        let isFirst = first
      "
    >
      <div class="option">
        <mat-form-field appearance="outline">
          <mat-label>Option {{ i + 1 }}</mat-label>
          <input matInput [readonly]="obj.readOnly" [formControlName]="i" />
          <mat-error *ngIf="options.invalid">Required</mat-error>
        </mat-form-field>
        <button
          mat-icon-button
          *ngIf="!obj.readOnly"
          [disabled]="isFirst && isLast"
          (click)="removeOption(i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </ng-container>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isOptionsAvailable && !obj.readOnly"
      (click)="addOption()"
    >
      Add Option
    </button>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Instructions (Optional)</mat-label>
    <textarea
      class="scroll"
      [autoResize]="100"
      matInput
      [readonly]="obj.readOnly"
      formControlName="instrctions"
    ></textarea>
    <mat-error *ngIf="questionForm.controls['question'].invalid"
      >Required</mat-error
    >
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button matDialogClose>Cancel</button>
  <button
    mat-stroked-button
    *ngIf="obj.questionId && !obj.readOnly"
    (click)="initializeForm()"
  >
    Reset
  </button>
  <button
    mat-stroked-button
    color="primary"
    (click)="handleCreateQuestion()"
    *ngIf="!obj.readOnly"
    [disabled]="questionForm.invalid"
  >
    Submit
  </button>
  <button
    mat-stroked-button
    color="primary"
    *ngIf="obj.readOnly"
    (click)="enableEdit()"
  >
    Edit
  </button>
</div>
