<ng-container *ngIf="survey">
  <div class="header-container">
    <div class="header">
      <h1>{{ survey.name }}</h1>
      <p>{{ survey.description }}</p>
    </div>
    <div class="btn-container">
      <button
        mat-stroked-button
        color="primary"
        [routerLink]="['/take-survey', survey.id]"
      >
        Take Survey
      </button>
    
    </div>
  </div>

  <div class="output-container">
    <mat-tab-group>
      <mat-tab label="Questions">
        <ng-template matTabContent>
          <app-list-questions [surveyId]="survey.id"></app-list-questions>
        </ng-template>
      </mat-tab>
      <mat-tab label="Responses">
        <ng-template matTabContent>
          <app-view-responses></app-view-responses>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
