/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}
button {
  width: fit-content;
  border-radius: 0.5em !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
  font-weight: 500 !important;
}
