@use "@angular/material" as mat;
@include mat.core();

$surveys-primary: mat.define-palette(mat.$deep-purple-palette, 700, 600, 900);
$surveys-accent: mat.define-palette(mat.$purple-palette, 500);
$surveys-warn: mat.define-palette(mat.$red-palette);

$surveys-theme: mat.define-light-theme(
  (
    color: (
      primary: $surveys-primary,
      accent: $surveys-accent,
      warn: $surveys-warn,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($surveys-theme);
:root {
  font-size: min(1rem, 4vw) !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}
button {
  width: fit-content;
  border-radius: 0.5em !important;
}
html,
body {
  height: 100%;
  width: 100vw;
  width: 100svw;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
  font-weight: 500 !important;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 2em;
}

.mat-dialog-actions {
  position: unset !important;
}
textarea {
  resize: none !important;
}

mat-error {
  font-size: 0.8rem !important;
  margin-top: 0.25rem;
}
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: unset !important;
  margin: unset !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  font-size: 1rem !important;
  &:not([mat-icon-button]) {
    padding-inline: 1rem !important ;
    min-width: 4rem !important;
    line-height: 2.25rem !important;
  }
}
mat-form-field {
  width: 100%;
}
table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
  tr {
    th,
    td {
      padding: 0.5rem;
    }
  }
}

dialog {
  top: 50%;
  left: 50%;
  background-color: #f2eaff;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  h1 {
    font-size: 1.5rem;
    margin-block: 1rem;
  }
  button{
    margin-block: 1rem !important;
  }
  &::backdrop {
  background-color: rgb(53, 53, 53);
  opacity: 0.8;
}
}
